<html ng-app>
	<head>
		<title>Calculator</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
	</head>
	<body>
		<form ng-controller="StartUpController">
			Starting: <input ng-model='funding.startingEstimate' ng-change='computeNeeded()'>
			Recommendation: {{ funding.needed }}
			<button ng-click="requestFunding()">Fund my startup!</button>
			<button ng-click="reset()">Reset</button>
		</form>
		<script type="text/javascript">
			function StartUpController($scope){

				$scope.funding = { startingEstimate:0 };

				$scope.computeNeeded = function(){
					$scope.funding.needed = $scope.funding.startingEstimate * 10;
				};

				$scope.requestFunding = function(){
					window.alert('Sorry, please get more customers first.');
				};

				$scope.reset = function(){
					$scope.funding.startingEstimate = 0;
					$scope.funding.needed = 0;
				};
			}
		</script>
	</body>
</html>